{% extends "MAPlatformBundle::layout.html.twig" %}

{% block title %} 
    {{ parent() }} - Annonces par categorie 
{% endblock %}

{% block maplatform_body %}
    <h2> Les annonces pour cette catégories : </h2>
    
    <br>
    <h4> Liste des annonces: </h4>
    <ul class="well bg-dark col-md-8 offset-2">
        {% for ad in listAdverts %}
            <li>
                <i class="text-center">Par {{ad.author}}, le {{ ad.date|date('d/m/Y')}} </i>
                <p> {{ ad.title}} </p>
                <p> {{ ad.content}} </p>
            </li>
            {% else %}
            <li> Aucune annoce pour cette catégorie</li>
        {% endfor %}

    <br>

{% endblock %}
