{% extends "MAPlatformBundle::layout.html.twig" %}

{% block title %} 
    {{ parent() }} - Vue de mon Annonce 
{% endblock %}

{% block maplatform_body %}
    <h2> {{advert.title}} </h2>
    
    
    <i>Par {{advert.author}}, le {{ advert.date|date('d/m/Y')}} </i>
    <br>
        <br>
        {% if advert.image is not null%}
            <img src="{{advert.image.url}}" width="350px" alt=" {{advert.image.alt}}">
        {% endif%}

        <div class="well bg-dark col-md-11 offset-md-1 text-white text-center">

            {{advert.content}}
        </div>

    
    <br/>

            <div class="col-md-9 offset-md-2 well text-center">
                {% if not advert.categories.empty %}
                    <p>
                        Cette annonce est parue dans les catégories suivantes :
                        {% for category in advert.categories %}
                        {{category.name}}{% if not loop.last %},{% endif %}

                        {% endfor %}
                    </p>
                {% endif %}
                <br/>

                  {% if listAdvertSkills |length > 0 %}
                    <p>
                        <strong><em> Cette annonce demande les compétences suivantes : </em></strong><br>
                        {% for advertSkill in listAdvertSkills %}
                        {{advertSkill.skill.name}}: niveau {{advertSkill.level}}

                        {% endfor %}
                    </p>
                {% endif %}
                <br/>
            </div>
    
    <br/>
    <br/>
    <br/>
    <br/>

    <h3 class=" col-md-8 offset-md-2 text-center">Liste des Candidatures</h3>

            
    <div class="col-md-4 offset-md-4 well text-center">
        {% for app in listApplications %}
            <i><strong>{{app.author}} - le {{app.date | date('d/m/Y')}}</strong></i><br/>
            <p>{{app.content}}</p>
            <br><br>
                    
            {% else %}
                Pas encore d'Application Sorry !!
        {% endfor %}
                </div>
            <br>    
            
            
        
    

    
{# <p>{{ advert_test.slug }}</p> #}


    <br/>

    <a class="btn btn-dark btn-lg col-md-6 offset-md-3" href="{{path('ma_platform_home')}}">
        <i class="glyphicon glyphicon-chevron-left"></i>
            Retour a la liste des annonces
    <br/>
    </a>

    <a class="btn btn-dark btn-lg col-md-6 offset-md-3" href="{{path('ma_platform_edit',{'id': advert.id}) }}">
        <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
    <br/>
    </a>

    <a class="btn btn-dark btn-lg col-md-6 offset-md-3" href="{{path('ma_platform_delete',{'id': advert.id}) }}">
        <i class="glyphicon glyphicon-chevron-trash"></i>
            Supprimer l'annonce
    <br/>
    </a>


    <br/>
    <br/>
    <br/>

    

{% endblock %}
